---
import CameraIcon from "@/assets/icons/CameraIcon.astro";

const GALLERY = [
   [
      {
         url: "https://images.unsplash.com/photo-1606490194859-07c18c9f0968?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
         width: 598,
         height: 897,
         alt: "Wedding photo 1",
      },
      {
         url: "https://images.unsplash.com/photo-1509927083803-4bd519298ac4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 267,
         alt: "Wedding photo 2",
      },
      {
         url: "https://images.unsplash.com/photo-1606216794079-73f85bbd57d5?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 600,
         alt: "Wedding photo 3",
      },
   ],
   [
      {
         url: "https://images.unsplash.com/photo-1519741497674-611481863552?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 267,
         alt: "Wedding photo 4",
      },
      {
         url: "https://images.unsplash.com/photo-1561287495-a3fe1fd28504?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 711,
         alt: "Wedding photo 5",
      },
      {
         url: "https://images.unsplash.com/photo-1518384202791-57e2af980894?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8",
         width: 400,
         height: 600,
         alt: "Wedding photo 6",
      },
   ],
   [
      {
         url: "https://images.unsplash.com/photo-1606216836537-eea72a939072?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 600,
         alt: "Wedding photo 7",
      },
      {
         url: "https://images.unsplash.com/photo-1522673607200-164d1b6ce486?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8",
         width: 400,
         height: 267,
         alt: "Wedding photo 8",
      },
      {
         url: "https://images.unsplash.com/photo-1576694667642-6f289dd54187?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 600,
         alt: "Wedding photo 9",
      },
   ],
   [
      {
         url: "https://images.unsplash.com/photo-1606216794050-6ff7db8cb43d?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8",
         width: 400,
         height: 600,
         alt: "Wedding photo 10",
      },
      {
         url: "https://images.unsplash.com/photo-1628285438016-de9b887e4f99?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D",
         width: 400,
         height: 600,
         alt: "Wedding photo 11",
      },
      {
         url: "https://images.unsplash.com/photo-1562616293-1a11a7816903?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHxlbnh3SG44RkJYZ3x8ZW58MHx8fHx8",
         width: 400,
         height: 268,
         alt: "Wedding photo 12",
      },
   ],
];
---

<section class="bg-secondary shadow-box py-8 px-3">
   <div class="text-center py-5 px-5 space-y-3">
      <div class="w-full flex justify-center py-2">
         <CameraIcon className="w-20 h-20 text-accent-dark " />
      </div>

      <h3 class="text-3xl text-accent">Nosotros</h3>
      <p>
         Cada historia de amor es diferente,
         <br /> ¡pero la nuestra es única!
      </p>
   </div>

   <div
      class="grid grid-cols-2 md:grid-cols-4 gap-4 md:px-10"
      id="gallery--getting-started"
   >
      {
         GALLERY.map((column) => (
            <div class="grid gap-4">
               {column.map((item) => (
                  <a
                     href={item.url}
                     data-pswp-width={item.width}
                     data-pswp-height={item.height}
                     target="_blank"
                  >
                     <img
                        class="h-auto max-w-full rounded-lg"
                        src={item.url}
                        alt={item.alt}
                        loading="lazy"
                     />
                  </a>
               ))}
            </div>
         ))
      }
   </div>
</section>

<script>
   import PhotoSwipeLightbox from "photoswipe/lightbox";
   import "photoswipe/photoswipe.css";

   document.addEventListener("astro:page-load", () => {
      const lightbox = new PhotoSwipeLightbox({
         // may select multiple "galleries"
         gallery: "#gallery--getting-started",

         // Elements within gallery (slides)
         children: "a",

         // setup PhotoSwipe Core dynamic import
         pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
   });
</script>
